body{
    margin: 0;
    padding: 0;
    background: url(background.jpg);
    background-size: cover;
}
/* sets the background image */
nav{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    text-align: center;
    color: rgb(228, 74, 13);
    font-weight: 900;
}
/* Sets the text and colors for my navigation bar */
.header{
    color: rgb(228, 188, 13);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    color: rgb(143, 36, 3);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 600;
}
h1{
    color: rgb(228, 188, 13);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    font-size: 30px;
    color: rgb(228, 188, 13);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h3{
    color: rgb(228, 188, 13);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
footer{
    color: rgb(228, 188, 13);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
